<!-- Footer -->
<div class="container">
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; SINF 2015</p>
      </div>
    </div>
  </footer>
</div>

</body>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'external/star-rating.min' %>
</html>



