.custom-btn{
	background-color: transparent;
	color: rgb(119,119,119);
	border: 0;
}

#dropdown-ul a {
	color: black;
}

.dropdown-container{
	padding: 15px;
}

.dropdown-container button{
	height: 20px;
}

.dropdown-container{
	padding: 15;
}