.custom-btn{
	background-color: transparent;
	//color: rgb(119,119,119);
    color: #FFF;
	border: 0;
}

#dropdown-ul a {
	color: black;
}

.dropdown-container{
	padding: 15px;
}

.dropdown-container button{
	height: 20px;
}

.dropdown-container{
	padding: 15;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#navbar-custom{
    background-color: rgb(239, 108, 0);

    color: white;
    a{
        color: #FFF;
    }
    button:not(.search-button){
        color: #FFF;
    }
    .navbar-toggle{
        color: #FFF;
        border-color: #fff;
    }

    ul.navbar-nav{
        .open{
            a{
                color: black;    
            }
            
        }
    }
}

#navbar-custom{
   background-color: rgb(239, 108, 0);
   border-color: white;
}

#accordion-container{
    .panel-heading{
        background-color: white;
    }    
    table{
        margin: 0;
    }
}